*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.netflix-main {
    height: 33vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;

}

.boxes {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.img {
    display: flex;
    height: 100%;
    justify-content: center;

}


